---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app amd-device-plugin
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      amd-device-plugin:
        type: daemonset
        containers:
          app:
            image:
              repository: rocm/k8s-device-plugin
              tag: labeller-latest
            command: ["/k8s-device-plugin"]
            args:
              - "-logtostderr=true"
              - "-stderrthreshold=INFO"
              - "-v=5"
            env:
              - name: ROCM_VERSION
                value: "6.0"
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 100Mi
    defaultPodOptions:
      priorityClassName: system-node-critical
      nodeSelector:
        kubernetes.io/arch: amd64
      tolerations:
        - key: CriticalAddonsOnly
          operator: Exists
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
    persistence:
      device-plugin:
        type: hostPath
        hostPath: /var/lib/kubelet/device-plugins
        globalMounts:
          - path: /var/lib/kubelet/device-plugins
      sys:
        type: hostPath
        hostPath: /sys
        globalMounts:
          - path: /sys
            readOnly: true
      dev:
        type: hostPath
        hostPath: /dev
        globalMounts:
          - path: /dev
            readOnly: true
